<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Maventutor.Maventutorial.AppTest"/>
      <class name="Maventutor.Maventutorial.Selenium2Test"/>
      <class name="Maventutor.Maventutorial.RestapiTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
